#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.page-content {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

pre {
  font-size: 12px;
  text-align: left;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 0;
  padding: 18px;
  background-color: lightgoldenrodyellow;
}
